Test Signup:<br>
<form id="1" method="POST" action="https://yakume.xyz/api/register">
    Name:<input type="text" name="name" /><br><br>
    Email:<input type="email" name="email" /><br><br>
    Password:<input type="password" name="password" /><br><br>
    <input type="submit">
</form>

Test Login:<br>
<form id="2" method="POST" action="https://yakume.xyz/api/login">
    Email: <input type="email" name="email" /><br><br>
    Password: <input type="password" name="password" /><br><br>
    <input type="submit">
</form>

Test Logout: <br>
<a href="https://yakume.xyz/api/logout">Log Out</a><br><br>

Test Change Password: <br>
<form id="3" method="POST" action="https://yakume.xyz/api/changepassword">
    New Password:<input type="password" name="password" /><br><br>
    <input type="submit">
</form>

Test reset password: <br>
<form id="301" method="POST" action="https://yakume.xyz/api/resetpassword">
    Email: <input type="text" name="email" /><br><br>
    <input type="submit">
</form>

Test change name: <br>
<form id="302" method="POST" action="https://yakume.xyz/api/changeusername">
    New name: <input type="text" name="newname" /><br><br>
    <input type="submit">
</form>

Test Get user profile<br>
<form id="999" method="GET" action="https://yakume.xyz/api/userprofile">
    Email: <input type="text" name="email"><br>
    <input type="submit">
</form>

Change Profile<br>
<form id="9991" method="POST" action="https://yakume.xyz/api/userprofile/update">
    New name: <input type="text" name="name" /><br><br>
    New city: <input type="text" name="city" /><br><br>
    New description: <input type="text" name="description" /><br><br>
    <input type="submit">
</form>

Test Add Event:<br>
<form id="4" method="POST" action="https://yakume.xyz/api/addevent">
    Title: <input type="text" name="title"><br>
    Description: <input type="text" name="description"><br>
    Longitude: <input type="text" name="longitude"><br>
    Latitude: <input type="text" name="latitude"><br>
    zipcode: <input type="text" name="zipcode"><br>
    address: <input type="text" name="address"><br>
    Time: <input type="text" name="timestamp"><br>
    Duration: <input type="text" name="duration"><br>
    Tags: <input type="text" name="tags"><br>
    Price: <input type="text" name="price"><br>
    Recurring: <input type="text" name="recurring"><br>
    <input type="submit">
</form>

Test delete event: <br>
<form id="401" method="POST" action="https://yakume.xyz/api/deleteevent">
    ID: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

Test modify event
<form id="402" method="POST" action="https://yakume.xyz/api/modifyevent">
    ID: <input type="text" name="eventid"><br>
    Title: <input type="text" name="title"><br>
    Description: <input type="text" name="description"><br>
    Longitude: <input type="text" name="longitude"><br>
    Latitude: <input type="text" name="latitude"><br>
    zipcode: <input type="text" name="zipcode"><br>
    address: <input type="text" name="address"><br>
    Time: <input type="text" name="timestamp"><br>
    Duration: <input type="text" name="duration"><br>
    Tags: <input type="text" name="tags"><br>
    <input type="submit">
</form>

Test RSVP to event:<br>
<form id="5" method="POST" action="https://yakume.xyz/api/event/register">
    EventID: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

Test un-RSVP to event:<br>
<form id="6" method="POST" action="https://yakume.xyz/api/event/unregister">
    EventID: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

Test my events:
<a href="https://yakume.xyz/api/myevents">My Events</a><br><br>

Test get attendees:
<form id="7" method="GET" action="https://yakume.xyz/api/attendees">
    EventID: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

Test get a event:<br>
<form id="8" method="GET" action="https://yakume.xyz/api/getevent">
    EventID: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

To get all:<br>
<a href="https://yakume.xyz/api/getevent">Events</a><br><br>

Test upload a image:<br>
<form id="9" method="POST" action="https://yakume.xyz/api/event/image/upload">
    EventID: <input type="text" name="eventid"><br>
    Image Filename: <input type="text" name="filename"><br>
    <input type="submit">
</form>

Test get image:<br>
<form id="10" method="GET" action="https://yakume.xyz/api/event/image/get">
    EventID: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

Test delete image:<br>
<form id="11" method="POST" action="https://yakume.xyz/api/event/image/delete">
    EventID: <input type="text" name="eventid"><br>
    Image Filename: <input type="text" name="filename"><br>
    <input type="submit">
</form>

Test update avatar:<br>
<form id="12" method="POST" action="https://yakume.xyz/api/avatar/update">
    Image Filename: <input type="text" name="filename"><br>
    <input type="submit">
</form>

Test get avatar:<br>
<form id="13" method="GET" action="https://yakume.xyz/api/avatar/get">
    <input type="submit">
</form>

Test upload image to event:<br>
<form id="214" method="POST" action="https://yakume.xyz/api/event/image/upload">
    eventid: <input type="text" name="eventid"><br>
    filename: <input type="text" name="filename"><br>
    <input type="submit">
</form>

Test delete image from event:<br>
<form id="215" method="POST" action="https://yakume.xyz/api/event/image/delete">
    eventid: <input type="text" name="eventid"><br>
    filename: <input type="text" name="filename"><br>
    <input type="submit">
</form>

get image:
<br>
<form id="216" method="GET" action="https://yakume.xyz/api/event/image/get">
    eventid: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

Test save to watch list:<br>
<form id="14" method="POST" action="https://yakume.xyz/api/watchlist/save">
    EventID: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

Test delete from watchlist:<br>
<form id="15" method="POST" action="https://yakume.xyz/api/watchlist/delete">
    EventID: <input type="text" name="eventid"><br>
    <input type="submit">
</form>

My watchlist:<br>
<a href="https://yakume.xyz/api/watchlist">My Watchlist</a><br><br>

Test follow a tag:<br>
<form id="16" method="POST" action="https://yakume.xyz/api/tag/follow">
    <input type="text" name="tag"><br>
    <input type="submit">
</form>

Test unfollow a tag:<br>
<form id="17" method="POST" action="https://yakume.xyz/api/tag/unfollow">
    <input type="text" name="tag"><br>
    <input type="submit">
</form>

Get followed tag list:
<a href="https://yakume.xyz/api/tag/followed">Click</a><br><br>

Get events under a tag:<br>
<form id="18" method="GET" action="https://yakume.xyz/api/tagevents">
    <input type="text" name="tag"><br>
    <input type="submit">
</form>

Pay by credit card:<br>
<form id="19" method="POST" action="https://yakume.xyz/api/pay">
    Amount: <input type="text" name="amount"><br>
    Card number: <input type="text" name="card"><br>
    Expiration Month: <input type="text" name="exp_mm"><br>
    Expiration Year: <input type="text" name="exp_yy" ><br>
    <input type="submit">
</form>

Follow a user:<br>
<form id="20" method="POST" action="https://yakume.xyz/api/user/follow">
    email: <input type="text" name="email"><br>
    <input type="submit">
</form>

Unfollow a user:<br>
<form id="21" method="POST" action="https://yakume.xyz/api/user/follow">
    email: <input type="text" name="email"><br>
    <input type="submit">
</form>

Followed users:<br>
<a href="https://yakume.xyz/api/user/followees">Click</a>

Following:<br>
<a href="https://yakume.xyz/api/user/followers">Click</a>